@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Fira+Code:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    *,*:focus,*:hover{
        outline:none;
    }
    body {
        @apply text-violet-200;
        background-color: #33334B;

    }
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    .__btn {
        @apply rounded bg-amber-400 py-2 text-slate-800 px-4 font-bold subpixel-antialiased
    }
    .__input {
        @apply h-3/6 rounded text-black bg-slate-200 px-2 py-1;
    }
}

body {
    font-family: 'Fira Code', monospace;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;

}
